version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=bankdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - SECRET_KEY=gizli_anahtar_burada
      - DEBUG=True
      - DB_NAME=bankdb
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db

volumes:
  postgres_data: